*{
    margin: 0px;
    padding: 0px;
}

body{
	background-image:url(../img/bg.jpg);
	background-size:cover;
	}

#nav,#content,#foot{
    width: 100%;
	height:400px;
}

#nav{
    background-color: #003e77;
    height: 80px;
    float: left;
    vertical-align: middle;
}
#logod{
    width : 23%;
    float :left;
    height :100%;
    vertical-align: middle;
}
#logo{
    width :160px;
    height : 80px;

}
#head{
    width :60%;
    float :left;
    font-family:"微软雅黑";
    font-size:30px;
    color:#f2f7f7;
    line-height:80px;
	text-align:center

}
#left{
    width:25%;
    height: 630px;
	padding-top:30px;
    background-color:#0199cf;
    float: left;
}

#right{
    width: 75%;
    height: 660px;
    float: right;
	
}

#foot{
    height: 100px;
	background-color: #003e77;
    float: left;
}

.container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

.select{
    margin: 20px;
    display: block;
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid #d2e2e7;
    border-bottom-color: #c5d4d9;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
	height:25px;
}
.select:before, .select:after {
    content: '';
    position: absolute;
    right: 11px;
    width: 0;
    height: 0;
    border-left: 3px outset transparent;
    border-right: 3px outset transparent;
}
.select:before {
    top: 10px;
    border-bottom: 3px solid #7f9298;
}
.select:after {
    top: 16px;
    border-top: 3px solid #7f9298;
}
.select > select {
    position: relative;
    z-index: 2;
    width: 112%;
    height: 29px;
    line-height: 17px;
    padding: 5px 9px;
    padding-right: 0;
    color: #80989f;
    background: transparent;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
}
.select > select:focus {
    color: #4d5a5e;
    outline: 0;
}

.mselect {
    display: block;
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid #d2e2e7;
    border-bottom-color: #c5d4d9;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
    background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.typesbutton{
    padding-left: 20px;
    padding-right: 20px;
    float:right;
}
#button1{
    width : 60px;
    height: 25px;
}
.typesel{
    padding-left: 20px;
    padding-right: 20px;
	padding-top:20px;
	text-align:center;
	clear:both;
	color:#FFF; font-size:15px; text-align:center; font-family:"微软雅黑";
}
.typese2{
    padding-left: 20px;
    padding-right: 20px;
	padding-top:19px;
	color:#FFF; font-size:15px; text-align:center; font-family:"Times New Roman", Times, serif;
}

.typese3{
    padding-left: 20px;
    padding-right: 20px;
	text-align:center;
	clear:both;
	color:#FFF; font-size:15px; text-align:center; font-family:"微软雅黑";
}


